
body{
    font-family: Arial;
    font-size: 16px;
    width: auto;
    margin: 10px;
    border: 1px solid grey;
    padding: 50px;
}
.image-1{
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.image-2{
    display: block;
    position: relative;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}
.hint{
    color: green;
}
.symbol{
    color: blue;
    font-style: italic;
}






